# .coveragerc to control coverage.py
[run]
branch = True
source = arc
omit =
    *Test.py
    */scripts/*
    */testing/*
    */docs/*
    */examples/*
    */ipython/*
    */logo/*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    logger.warning
    if __name__ == .__main__.:

[html]
directory = testing/coverage
