################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# Compiled Python modules
*.pyc
*.so
*.pyd

# PyCharm project files
.idea/*

# settings file
arc/settings.py

# Projects
Projects/

# Unit test files
.coverage
testing/*
htmlcov/*

# Scratch
scratch/

# scv database
*.csv
