################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# Compiled Python modules
*.pyc
*.so
*.pyd

# PyCharm project files
.idea/*

# Projects
Projects/

# Examples
examples/

# Unit test files
.coverage
testing/*
htmlcov/*

# Scratch
scratch/

# csv database
*.csv

# iPython files
*.ipynb_*

# Compiled documentation
docs/build/*
