################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# Compiled Python modules
*.pyc
*.so
*.pyd

# PyCharm project files
.idea/*
venv/

# VS Code Local History files
.history/*

# Projects
Projects/

# Examples
examples/

# Unit test files
.coverage
testing/*
htmlcov/*
arc/testing/gcn_tst/

# Scratch
scratch/

# csv database
*.csv

# iPython files
*.ipynb_*

# Compiled documentation
docs/build/*

# deleted files
**/.fuse_hidden*

# timer.dat
timer.dat

# .vscode
.vscode

# .trunk folder
.trunk

# ignore files created from tests
nul
run.out
