# ARC core requirements

python >=3.12
numpy >=2.1
ase >=3.22.1
mako
matplotlib
openbabel >=3
pandas
paramiko>=2.6.0
py3Dmol>=0.8.0
pyyaml
rdkit>=2025.3
scipy
networkx

# Optional/extra (used by some features or for docs)
cairo
cairocffi
cmake
cython>=3.0
ffmpeg
gprof2dot
graphviz
h5py
pydot
pytables
sphinx
sphinx_rtd_theme
sphinxcontrib-jsmath

# For running the unit tests
pytest
pytest-cov
pytest-xdist
coverage

# For interactive use
jupyter
ipython
